@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all cubic-bezier(1, 0.02, 0.05, 0.99);
  overflow: hidden;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-masonry-grid_column {
  padding: 0 15px;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 0.6em;
}
 
body::-webkit-scrollbar-track {
  background-color: black;
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

html{
  overflow-y: auto;
}

body{
  overflow-y: auto;
  background-color: black;
}

.img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img2{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h-x1{
  height: 4px;
}

.text-10xl{
  font-size: 7rem;
}

.st{
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.st2{
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.input{
  width: 60vw;
  max-width: 500px;
}

.text{
  resize: none;
}

.tran{
  transition: all 0.5s ease;
}

.leading-x{
  line-height: 4rem;
}